<div class="main">
  <div class="container">
    <div>
      <div class="text-center margin: 30px 0;">
        <h1><strong>About</strong></h1>
      </div>

      <div class="text text-center">
        <h5><strong>ながのCAKEは全国発送可能なケーキ屋さんです。</strong></h5>
        <h5><strong>お子様からお年寄りの方までお召し上がりいただけるよう、</strong></h5>
        <h5><strong>様々なバリエーションをご用意しております。</strong></h5>
        <h5><strong>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</strong></h5>
        <h5><strong>ぜひご注文下さい。</strong></h5>
      </div>

      <div class="text text-center margin: 10px 0;">
        <%= image_tag 'top画面用.jpg', size: '450x300' %>
      </div>
    </div>
  </div>
</div>