<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <h6><strong>ジャンル検索</strong></h6>
    </div>
    <div class="main-container col-lg-8 offset-lg-1">
      <div>
        <%#= image_tag 'イチゴケーキ.jpg', size: '600x400' %>
        <h6>ようこそ、ながのCAKEへ！</h6>
        <h6>このサイトは、ケーキ販売のECサイトになります。</h6>
        <h6>会員でない方も商品の閲覧はできますが、</h6>
        <h6>購入には会員登録が必要になります。</h6>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 offset-lg-3">
      <h5><strong>新着商品</strong></h5>
    </div>
  </div>
</div>